@charset "UTF-8";


body {
	
	height: 1080px;
    width: 100%;
    background:black;
}

header {
	border-style: solid;
    border-top-color: #c272fc;
    border-top-width: 7px;
   
    width: 100%;
    height: 56px;
    margin-top: -8px;
    margin-left: -8px;
    background: #3a195b;
}

nav{
	
   height: 100%;
    width: 208px;
    background: #3a195b;
    margin-top: -3px;
    margin-left: -6px;
	
	
	
	
}


#iLogoRADm{
	
	margin-left: 1352px;
    color: white;
		
	
}



#iCircleAdm{
	
	
	border: solid;
    border-color: white;
    border-radius: 51px;
    height: 179px;
    width: 173px;
    margin-left: 13px
	
	
	
}




#iIconAdm{
	
	height: 179px;
    width: 173px;
    border-radius: 50px;
    margin-left: 0px;
    margin-top: 0px;
	
	
	
}

#iBemVindoAdm{
	
	
	color: white;
    margin-left: 39px;
	
	
	
	
}

button{
	
	
	margin-left: 2px;
    height: 41px;
    width: 205px;
    background: #ffffff;
	
}




.cDivOptions{
	
width: 208px;
height: 180px;
display: inline-block;
margin: 17px;
border-radius: 13px;
background: #280645;	
	
}






#iDivPesquisar{
	
	
    width: 640px;
    height: 250px;
    margin-left: 822px;
    margin-top: -862px;
    border-color: #7c4ea3;
    border-radius: 10px;
    border-style: double;
    background: #000000;
	
	
	
}


#ipesquisar{
	
   height: 29px;
    width: 268px;
	margin-left: 75px;
	
	
	
}


form{
	
	
   height: 485px;
    width: 550px;
    margin-left: 881px;
    border: solid;
    border-color: #7c4ea3;
    margin-top: -890px;
    border-radius: 6px;
}
	

input{
	
	
	height: 26px;
    width: 234px;
    margin-top: 7px;
    margin-left: 236px;
	
	
}

label{
	
	
    color: white;
    font-size: 25px;
    margin-top: 27px;
    position: absolute;
    margin-left: 16px;
	
	
	
}



#pesquisar{
	
	
	height: 35px;
    background: black;
    color: white;
	
}




#iDivCards{
	

width: 1253px;
margin-left: 247px;
margin-top: -1029px;
	
}


.classLegendCards{
	
color: white;
margin-top: 26px;
margin-left: 38px;
	
}

