@charset "UTF-8";


body {
	
	background-image: linear-gradient(to right, rgb(0 0 0), rgb(0 0 0), rgb(0 0 0));
	height: 1080px;
	width: 100%;
	
}



header {
	width: 100%;
    height: 132px;
}



#divLogoRaven{
	
	height: 89px;
    width: 90px;
    border-radius: 93px;
    background-color: rgb(113, 6, 185);
    position: absolute;
    margin-left: 110px;
    margin-top: 29px;
	
	
}


#iLogoRaven {
	color: rgb(255, 255, 255);
    font-size: 30px;
    font-style: inherit;
    font-family: math;
    margin-left: 20px;
    margin-top: 39px;
    position: absolute;
    text-decoration: none;
}

main{
	width: 99%;
    height: 994px;
    margin-top: 65px;
    position: absolute;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(75, 9, 99), rgb(18, 120, 72), rgb(0, 0, 0));
    background-image: linear-gradient(to right, rgb(0 0 0), rgb(33 25 36), rgb(5 116 64), rgb(168 73 203));
}





#iHelloDev{
    color: white;
    margin-left: 99px;
    margin-top: 47px;
    font-size: 55px;
}



#iEditarPerfil{
	
position: absolute;
margin-top: -275px;
margin-left: 368px;
height: 24px;
width: 84px;
background: none;
color: white;
border-radius: 10px;
	
	
	
	
}

	
	#iDivBackGImagem{
		
	margin-left: 988px;
    border-radius: 129px;
   background: rgb(0 0 0);
    height: 355px;
    width: 358px;
    margin-top: -97px;
		
		
	}
	
	
	#iBackGProfessor{
	height: 355px;
    width: 358px;
    border-radius: 129px;
    margin-left: 37px;
			
	}
	
	
	#iAreaProfessor{
		
	color: white;
    margin-left: 160px;
    margin-top: -17px;
    position: absolute;
    font-size: 20px;
		
	}


h3{
	
	color: white;
    font-size: 33px;
    margin-left: 210px;
    position: absolute;
    margin-top: 95px;
    font-family: monospace;
	
	
	
	
}


/*DIVS*/


.classDivs{

	width: 276px;
    height: 239px;
    display: inline-flex;
    margin-left: 173px;
    border-radius: 50px;
    background-color: rgb(214 208 118);
    margin-top: 167px;
}
	
	



/*IMAGENS*/


.classImgs{
	
	
	width: 283px;
    height: 257px;
    border-radius: 50px;
    margin-left: -39px;
	
	
}






/*DIV LEGENDA*/

#iDivLegenda{
	
	width: 1592px;
    height: 79px;
   margin-top: 19px;
    position: absolute;
    font-family: "Chakra Petch";
    font-weight: 700;
    font-size: .625rem;
    line-height: 1;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 25px), calc(100% - 25px) 100%, 0 100%);
  background-image: linear-gradient(to right, rgb(18, 120, 72), rgb(168 73 203), #09ff89);
	
	
	
	
	
	
}


p{
	
	
	color: white;
    margin-left: 257px;
    display: inline-flex;
    font-size: 24px;
    font-family: monospace;
    margin-top: 19px;
	
	
}



/*RODAPÉ*/

#iRodapeLogin{
   
   
    height: 187px;
    width: 100%;
    margin-top: 1189px;
}




#ihr{
	
   margin-top: -76px;
    position: absolute;
    width: 86%;
    margin-left: 117px;
	
	
}

#listaFooter{
	
	color: white;
    margin-left: 390px;
    margin-top: 8px;
    position: absolute;
	
	
	
}



#iRedesSociais{
	
	height: 120px;
    width: 236px;
    margin-left: 1056px;
    margin-top: -1px;

	
	
	
	
	
}